127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
{{ controller_ip }} {{controller_host}}
{{ controller1_ip }} {{controller1_host}}
{{ controller2_ip }} {{controller2_host}}
{{ controller3_ip }} {{controller3_host}}
