#!/bin/bash

BOOTSTRAP_TOKEN=`cat token.csv |cut -d',' -f1`

kubectl config set-cluster {{k8s_cluster_name}} \
  --certificate-authority=ca.pem \
  --embed-certs=true \
  --server=https://{{KUBERNETES_PUBLIC_ADDRESS}}:6443 \
  --kubeconfig=bootstrap.kubeconfig

kubectl config set-credentials kubelet-bootstrap \
  --token=${BOOTSTRAP_TOKEN} \
  --kubeconfig=bootstrap.kubeconfig

kubectl config set-context default \
  --cluster={{k8s_cluster_name}} \
  --user=kubelet-bootstrap \
  --kubeconfig=bootstrap.kubeconfig

kubectl config use-context default --kubeconfig=bootstrap.kubeconfig
