#!/bin/bash
cd /k8s-v1.7/certs/;

cfssl gencert \
  -ca=ca.pem \
  -ca-key=ca-key.pem \
  -config=ca-config.json \
  -hostname=10.32.0.1,"{{k8s_master1_ip}}","{{k8s_master2_ip}}","{{k8s_master3_ip}}","{{KUBERNETES_PUBLIC_ADDRESS}}",127.0.0.1,kubernetes.default \
  -profile=kubernetes \
  kubernetes-csr.json | cfssljson -bare kubernetes
